.footer {
	@include clearfix;
	background: $dark_gray;
	color: $white;
	
	.info {
		@include clearfix;
		@include two_up;
		padding: 3rem 0 10rem;

		p {
			color: $white;
		}
	}

	.credit {
		width: $inner_width;
		margin: auto;
		border-top: 1px solid $mid_gray;
		color: $mid_gray;
		font-family: $sans;
		padding: 1rem 0 3rem;
	}
}
