.modal {
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	background: rgba(0,0,0,0.92);
	-webkit-transition: opacity .15s ease;
	transition: opacity .15s ease;
	padding: 5rem 0 14rem;

	&.visible {
		display: block;
		opacity: 1;
	}

	.dismiss {
		position: fixed;
		display: block;
		top: 25px;
		right: 25px;
		width: 40px;
		height: 40px;
		color: $black;
		background: $mid_gray;
		border: none;
		font-size: 2em;
		border-radius: 20px;
		text-align: center;
	}


}

.painting {
	width: $outer_width;
	margin: auto;
	text-align: center;
	
	img {
		max-height: 80vh;
	}

	p + p {
		@include body_text;
		width: $inner_width;
		margin: auto auto 2.4em;
		text-align: left;
		color: $mid_gray;
	}
}

.photograph {
	width: 35%;
	padding: .3rem;
	margin: auto;
	
	p + p {
		@include body_text;
		margin: 0 0 1.6em;
		text-align: left;
		color: $mid_gray;
	}
	
	p:nth-child(2) {
    	font-size: 14px;
		line-height: 23px;
	}
	
}