.painting {
	width: $outer_width;
	margin: auto;
	text-align: center;
	
	img {
		max-height: 80vh;
	}

	p + p {
		@include body_text;
		width: $inner_width;
		margin: auto;
		text-align: left;
	}
}

.paintings {
	margin-top: 5rem;
	padding-bottom: 15rem;
}